<h1>検索ページ</h1>

<%= form_tag(search_path,:method => 'get') do %>
  キーワード：<%= text_field_tag :search %><br>
  ジャンル：<%= select :category, :name, @categories, :include_blank => true %><br>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<%= @articlecountself%>/<%= @articlecountall%>
<table>
<% @contents.each do |content| %>
  <tr>
    <% if content["article"].status %>
    <td>完結済み</td>
    <% else %>
    <td>連載中</td>
    <% end %>
    <td><%= link_to content["article"].title, user_article_path(content["user"], content["article"]) %></td>
    <td><%= content["article"].text %></td>
    <td><%= content["article"].category %></td>
    <td><%= link_to content["user"].name, user_path(content["user"]) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'ホームに戻る', root_path %>