<h1>
  <strong></strong>
  <%= @article.title %>
</h1>
 
<p>
  <strong>あらすじ<br></strong>
  <%= @article.text %>
</p>
<%= link_to '編集する', edit_article_path %>
<%= link_to '削除する', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>各話</h2>
<%= render @article.comments %>

<h2>話の追加</h2>
<%= render "comments/form" %>

<%= link_to '戻る', articles_path %>