<% provide(:title, "#{@article.title}") %>
<h1>
  <strong></strong>
  <%= @article.title %>
</h1>

作者：<%= @user.name %><br>
ジャンル：<%= @article.category %>
<% if @article.status %>
<br>完結済み
<% else %>
<br>連載中
<% end %>

<p>
  <strong>あらすじ<br></strong>
  <%= @article.text %>
</p>

<p><strong>各話</strong> </p>

<ul>
  <% @article.comments.each do |comment| %>
    <li><%= link_to comment.commenter, user_article_comment_path(@user, @article, comment) %></li>
  <% end %>
</ul>


<%= link_to '作者ホームに戻る', user_path(@user) %>