<h1>
  <strong></strong>
  <%= @article.title %>
</h1>
 
<p>
  <strong>あらすじ<br></strong>
  <%= @article.text %>
</p>
<%= link_to '編集する', edit_article_path %>
<%= link_to '削除する', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

<p><strong>各話</strong> <%= link_to '追加する', new_article_comment_path(@article), method: :get %></p>
<%= render @article.comments %>

<%= link_to '戻る', articles_path %>