<%= flash.now[:success] %>
<h1>作者ホーム</h1>

<%= link_to 'アカウント画面へ', mypage_user_configuration_path(@user) %>
<%= link_to "ログアウト", logout_path, method: :delete %>
<%= link_to '小説を新規作成', new_mypage_user_article_path %>

<table>
  <tr>
    <th>連載中の小説</th>
    <th>ジャンル</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, mypage_user_article_path(@user, article) %></td>
      <td><%= article.category %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th><%= @user.name%>さんへのコメント一覧</th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.commenter %>さん：<%= tweet.body %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'ホームへ戻る', root_path %>