<% provide(:title, "#{@article.title}_#{@comment.commenter}") %>
  <div class="container2">
    <nav id="nav2">
      <%= link_to "#{@user.name}さんのホーム", mypage_user_articles_path(@user) %>/<%= link_to @article.title, mypage_user_article_path(@user, @article) %>/<%= link_to @comment.commenter, mypage_user_article_comment_path(@user, @article, @comment) %>
    </nav>
  </div>
  <div class="dummy">
  </div>
</header>
<div class="writer_article_comment_main">
  <h1><%= @comment.commenter %></h1>
  <% if @comment.previous(@comment.article_id).nil? && @comment.next(@comment.article_id).nil? %>
  <% elsif @comment.previous(@comment.article_id).nil? %>
    <%= link_to "次の話へ", mypage_user_article_comment_path(@user, @article, @comment.next(@comment.article_id)) %>
  <% elsif @comment.next(@comment.article_id).nil? %>
    <%= link_to "前の話へ", mypage_user_article_comment_path(@user, @article, @comment.previous(@comment.article_id)) %>
  <% else %>
    <%= link_to "前の話へ", mypage_user_article_comment_path(@user, @article, @comment.previous(@comment.article_id)) %>
    <%= link_to "次の話へ", mypage_user_article_comment_path(@user, @article, @comment.next(@comment.article_id)) %>
  <% end %>
  <p>
    本文<br>
    <%= @comment.body %>
  </p>
  <%= link_to '小説タイトルへ戻る', mypage_user_article_path(@user, @article) %>
  <%= link_to '編集する', edit_mypage_user_article_comment_path(@user, @article, @comment)%>
  <%= link_to '削除する', mypage_user_article_comment_path(@comment.article.user, @comment.article, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>