<h1>NovelLabのホーム</h1>
<% if is_logged_in_reader? %>
<%= current_reader.name %>さんがログイン中 <%= link_to "ログアウト", logout_reader_path, method: :delete %>
<% end %>

<p><%= link_to "検索ページへ", search_path %></p>
<p>更新された連載中小説</p>
<table>
<% @contents.each do |content| %>
  <tr>
    <td><%= content["comment"].created_at %></td>
    <td><%= link_to content["comment"].commenter, user_article_comment_path(content["user"], content["article"], content["comment"]) %></td>
    <td><%= link_to content["article"].title, user_article_path(content["user"], content["article"]) %></td>
    <td><%= content["article"].category %></td>
    <td><%= link_to content["user"].name, user_path(content["user"]) %></td>
  </tr>
<% end %>
</table>

<p>完結済みの小説</p>
<table>
<% @contents1.each do |content1| %>
  <tr>
    <td><%= link_to content1["article"].title, user_article_path(content1["user"], content1["article"]) %></td>
    <td><%= content1["article"].category %></td>
    <td><%= link_to content1["user"].name, user_path(content1["user"]) %></td>
  </tr>
<% end %>
</table>

<p>週間ランキング</p>
<table>
<% @contents2.each_with_index do |content2, i| %>
  <tr>
    <td><%= i+1 %>位</td>
    <td><%= link_to content2["article"].title, user_article_path(content2["user"], content2["article"]) %></td>
    <td><%= content2["article"].category %></td>
    <td><%= link_to content2["user"].name, user_path(content2["user"]) %></td>
  </tr>
<% end %>
</table>

<p>総合ランキング</p>
<table>
<% @contents3.each_with_index do |content3, i| %>
  <tr>
    <td><%= i+1 %>位</td>
    <td><%= link_to content3["article"].title, user_article_path(content3["user"], content3["article"]) %></td>
    <td><%= content3["article"].category %></td>
    <td><%= link_to content3["user"].name, user_path(content3["user"]) %></td>
  </tr>
<% end %>
</table>


<%= link_to "作者新規登録", signup_path %>
<%= link_to "作者ログイン", login_path %><br>
<%= link_to "読者新規登録", signupreader_path %>
<% if is_logged_in_reader? %>
<% else %>
<%= link_to "読者ログイン", login_reader_path %><br>
<% end %>